In [1]:
# example    

import pandas as pd
import pandasql as ps

df = pd.DataFrame([[1234, 'Customer A', '123 Street', 'stuff'],
               [1234, 'Customer A', 'Willem', '333 Street'],
               [1233, 'Customer B', '444 Street', '333 Street'],
              [1233, 'Customer B', '444 Street', '666 Street']],
                  columns= ['ID', 'Customer', 'Billing_Address', 'Shipping_Address'])

q1 = """SELECT * FROM df """
print(ps.sqldf(q1, locals()))

     ID    Customer Billing_Address Shipping_Address
0  1234  Customer A      123 Street            stuff
1  1234  Customer A          Willem       333 Street
2  1233  Customer B      444 Street       333 Street
3  1233  Customer B      444 Street       666 Street

In [3]:
import mb_va as mbva
mbva.a

100

In [7]:
code_list = ['AMZ','GOOGLE']
placeholders = ",".join("?" * len(code_list))
sql = "delete from dbo.Results where RESULT_ID = ? AND CODE IN (%s)" % placeholders
params = [placeholders]
params.extend(code_list)
#cursor.execute(sql, params)
params
#placeholders

['?,?', 'AMZ', 'GOOGLE']